body{
  font-family: Arial, sans-serif;
  margin-top: 0;
  background-color:rgb(255, 249, 240);
}

h1 {
  font-family:Impact,Arial, Helvetica, sans-serif;
  font-weight: 1;
  font-size: 40px;
  position: relative; 
  color: rgb(198, 11, 11);
}

.parrafo-texto {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(8, 7, 7);
  font-size: 18px;
  position: absolute;
  left: 10px;
  top: 70px;
  z-index: 10;
  
}

.parrafo-normal{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:darkred;
  font-size: 10px;
}

.boton-ingreso {
  background-color: rgb(7, 162, 252);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-right: 10px;
  
}

.boton-ingreso:hover {
  background-color:rgb(7, 162, 252);
}

.boton-registro {
  background-color:rgb(251, 103, 44) ;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-right: 10px;
  
}

.boton-registro:hover {
  background-color:rgb(251, 103, 44);
}

.img-resalta:hover {
  transform: scale(1.08);
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}